# Esempio di elaborazione dati

Questo notebook legge un file CSV dalla cartella `raw`, lo elabora e mostra un'anteprima dei dati.

In [1]:
# parameters
file_name = 'example.csv'

In [1]:
# Importa le librerie necessarie
import pandas as pd
import os

# Definisce il percorso della cartella `raw`
raw_data_path = '/data/raw'

# Lista dei file nella cartella `raw`
files = os.listdir(raw_data_path)
print("File disponibili nella cartella raw:", files)

# Legge un file CSV dalla cartella `raw`
file_to_read = os.path.join(raw_data_path, file_name)
data = pd.read_csv(file_to_read)

# Mostra un'anteprima dei dati
data.head()

File disponibili nella cartella raw: ['.gitkeep', 'example.csv']

   id     name  value
0   1    Alice     10
1   2      Bob     20
2   3  Charlie     30